
<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div style="width: 500px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px; border-radius: 8px;">
<div class="d-grid gap-2">
    <button routerLink="/learn-now" class="btn btn-primary" type="button">Go to Learn Now</button>
    <button routerLink="/statistics" class="btn btn-primary" type="button">Go to Statistics</button>
    <button routerLink="/contribute/subjects" class="btn btn-primary" type="button">Go to Contribute</button>
  </div>
</div>
</div>
