<!-- flashcard-viewer.component.html -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="flip-card" [class.flipped]="showAnswer">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="question-answer-wrapper">
              <div class="question-centered">
                {{ flashcards[currentIndex]?.question ?? 'Default Question' }}
              </div>
            </div>
          </div>
          <div class="flip-card-back" *ngIf="showAnswer">
            <div class="question-answer-wrapper">
              <div class="question-answer-content">
                <div class="question-content">
                  {{ flashcards[currentIndex]?.question ?? 'Default Question' }}
                </div>
                <!-- Removed the vertical divider -->
                <div class="answer-content">
                  {{ flashcards[currentIndex]?.answer ?? 'Default Answer' }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="showAnswer">
        <div class="mt-3 difficulty-buttons-wrapper">
          <button class="btn btn-success full-width" (click)="setDifficulty('very easy')">Very Easy</button>
          <button class="btn btn-primary full-width" (click)="setDifficulty('easy')">Easy</button>
          <button class="btn btn-warning full-width" (click)="setDifficulty('difficult')">Difficult</button>
          <button class="btn btn-danger full-width" (click)="setDifficulty('hard')">Hard</button>
        </div>
      </ng-container>

      <button *ngIf="!showAnswer" class="btn btn-primary answer-button" (click)="toggleAnswer()">Show Answer</button>
    </div>
  </div>
</div>
